<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>

  <body>
   <div class="frame">
    <div class="main_frame">
      <!-- LEFT - FRAME -->
      <div class="left_frame">
        <!-- left-1 -->
        <div class="left_1">
          <div class="profile-image">
            <img src="images/profile.png" alt="image">
          </div>
          <div class="portfolio-info">
            <p class="name">Steve</p>
            <p class="job">Software Enginer</p>
          </div>
          <div class="social-icons">

            <a class="link_href">
              <div class="icon">
                <img src="icon/Facebook.svg" alt="">
              </div>
            </a>

            <a class="link_href">
              <div class="icon">
                <img src="icon/Instagram.svg" alt="">
              </div>
            </a>

            <a class="link_href">
              <div class="icon">
                <img src="icon/Twitter.svg" alt="">
              </div>
            </a>

            <a class="link_href">
              <div class="icon">
                <img src="icon/Linkeding.svg" alt="">
              </div>
            </a>

            <a class="link_href">
              <div class="icon">
                <img src="icon/Youtube.svg" alt="">
              </div>
            </a>

          </div>
        </div>
       <!-- marginer-1  -->
        <div class="marginer"></div>
        <!-- left-2 -->
        <div class="info-box">
          <div class="info-row">
            <span class="label">Age:</span>
            <span class="value">24</span>
          </div>
          <div class="info-row">
            <span class="label">Residence:</span>
            <span class="value">BD</span>
          </div>
          <div class="info-row">
            <span class="label">Freelance:</span>
            <span class="value available">Available</span>
          </div>
          <div class="info-row">
            <span class="label">Address:</span>
            <span class="value">S.Korea, Pusan</span>
          </div>
        </div>
        <div class="marginer"></div>
        <!-- left-3 -->
        <div class="language-box">
          <h3>Languages</h3>
          <!-- bangla -->
          <div class="language-row">
            <div class="language-info">
              <span class="lg-name">Bangla</span>
              <span class="lg-percent">100%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 100%;"></div>
            </div>
          </div>
          <!-- english -->
          <div class="language-row">
            <div class="language-info">
              <span class="lg-name">English</span>
              <span class="lg-percent">80%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </div>
          <!-- spanish -->
          <div class="language-row">
            <div class="language-info">
              <span class="lg-name">Spanish</span>
              <span class="lg-percent">60%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 60%;"></div>
            </div>
          </div>

        </div>

        <div class="marginer"></div>

        <!-- left-4 -->
        <div class="skills-box">
          <h3>Skills</h3>
            <!-- Html -->
          <div class="skills-row">
            <div class="skill-info">
              <span class="skill-name">Html</span>
              <span class="skill-percent">90%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
          </div>
            <!-- CSS -->
          <div class="skills-row">
            <div class="skill-info">
              <span class="skill-name">CSS</span>
              <span class="skill-percent">85%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </div>
           <!-- Js  -->
          <div class="skills-row">
            <div class="skill-info">
              <span class="skill-name">Js</span>
              <span class="skill-percent">80%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </div>
            <!-- PHP -->
          <div class="skills-row">
            <div class="skill-info">
              <span class="skill-name">PHP</span>
              <span class="skill-percent">75%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 75%;"></div>
            </div>
          </div>
            <!-- Wordpass -->
          <div class="skills-row">
            <div class="skill-info">
              <span class="skill-name">WordPass</span>
              <span class="skill-percent">85%</span>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </div>
        </div>
        <div class="marginer"></div>
        <!-- left-5 -->
        <div class="extra-skills">
          <h3>Extra skills</h3>
          <ul>
            <li><i class="fa fa-check-square-o"></i> Bootstrap, Materialize</li>
            <li><i class="fa fa-check-square-o"></i> Stylus, Sass, Less</li>
            <li><i class="fa fa-check-square-o"></i> Gulp, Webpack, Grunt</li>
            <li><i class="fa fa-check-square-o"></i> GIT Knowledge</li>
          </ul>
        </div>
        <div class="marginer"></div>
      </div>
      <!-- MIDD-FRAME -->
      <div class="midd_frame">
        <div class="about-me">
          <div class="admin-box">
            <h1>Software Engineer<br>in IT company</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
            <a href="#" class="hire-btn">HIRE ME</a>
          </div>
          <div class="admin-image">
            <img src="images/doctor-image.png" alt="">
          </div>
        </div>
        <div class="services-section">
          <h2>My Services</h2>
          <p class="subtitle">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor<br>
            Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit.<br>
            Lorem Ipsum
          </p>
          <div class="services-grid">

            <div class="service-card">
              <img src="icon/code.svg" alt="Web Dev">
              <h3>Web Development</h3>
              <p><em>Blog, E-commerce</em></p>
            </div>

            <div class="service-card">
              <img src="icon/ui.svg" alt="Web Dev">
              <h3>Web Development</h3>
              <p><em>Blog, E-commerce</em></p>
            </div>

            <div class="service-card">
              <img src="icon/sound.svg" alt="Web Dev">
              <h3>Web Development</h3>
              <p><em>Blog, E-commerce</em></p>
            </div>

            <div class="service-card">
              <img src="icon/game.svg" alt="Web Dev">
              <h3>Web Development</h3>
              <p><em>Blog, E-commerce</em></p>
            </div>

            <div class="service-card">
              <img src="icon/photo.svg" alt="Web Dev">
              <h3>Web Development</h3>
              <p><em>Blog, E-commerce</em></p>
            </div>

            <div class="service-card">
              <h3>Advertising</h3>
              <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Vitae Nulla Diam In Ac Dictum A Urna Viverra Morbi.</p>
              <a href="#" class="order-now">ORDER NOW ➤</a>
            </div>

          </div>

        </div>
      </div>
      <!-- RIGHT-FRAME -->
      <div class="right_frame">
        <div class="right-victor">
            <img src="icon/Icon-victor.svg" alt="Photo">
        </div>

        <div class="right-menu">
          <div class="icon-circle" title="Home"><i class="fa fa-home"></i></div>
          <div class="icon-circle"><i class="fa fa-user"></i></div>
          <div class="icon-circle"><i class="fa fa-briefcase"></i></div>
          <div class="icon-circle"><i class="fa fa-image"></i></div>
          <div class="icon-circle"><i class="fa fa-comments"></i></div>
        </div>

      </div>
    </div>
   </div>
  </body>

</html>

